*.DS_STORE
*.pyc
*.swp
*.swo
*.tab
*.tmp
tmp
tmp*
*.fasta
*.Rhistory
*.idea
bin/
conda-meta/
include/
lib/
share/
ssl/
AIM_H_SAPIENS/
CFinder-2.0.6--1448/
cluster_one-1.0.jar
pairsData/
corumComplexes/
generatedComplexes/